<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
    <title>Restaurant Apps Starter Project</title>
</head>

<body>
    <a href="#maincontent" class="skip-link">Menuju ke konten</a>

    <nav class="nav" id="drawer">
      <div class="brand">
          <p class="brand-name p-3">restplore</p>
      </div>
        <ul>
            <li class="nav-item"><a class="nav-link" href="#/">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="#/like">Favorite</a></li>
            <li class="nav-item"><a class="nav-link" href="https://github.com/RifkiEr24" target="_blank">About Us</a></li>

        </ul>
    </nav>
    <a id="hamburger">☰</a>
    <main>
        
    </main>
    <footer>
        <p class="footer p-3">Copyright © 2020 - Restplore</p>
    </footer>
</body>

</html>