<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Restaurant Apps Starter Project</title>
</head>

<body>
    <a href="#maincontent" class="skip-link">Menuju ke konten</a>

    <nav class="nav" id="drawer">
      <div class="brand">
          <p class="brand-name">restplore</p>
      </div>
        <ul>
            <li class="nav-item"><a class="nav-link" href="#">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Favorite</a></li>
            <li class="nav-item"><a class="nav-link" href="https://github.com/RifkiEr24" target="_blank">About Us</a></li>

        </ul>
    </nav>
    <a id="hamburger" href="#">☰</a>
    <div class="hero">
        <div class="hero_inner">
            <h1 class="hero__title">Restplore</h1>
            <p class="hero__tagline">Cari dan temukan restoran di berbagai penjuru Indonesia</p>
                <a class="button" href="#maincontent">Explore Resto</a>
        </div>
    </div>
    <main>
        <section class="content">
            <article class="headline">
                <div class="headline-photo">
                    <div>
                        <img src="./images/headline/Almond.jpeg" alt="Almond">
                        <div class="img-flex-container">
                            <div class="img-flex">
                                <img src="./images/headline/Chicken Skin.jpeg" alt="Chicken Skin">
                            </div>
                            <div class="img-flex">
                                <img src="./images/headline/Spicy Katsu RB.jpeg" alt="Spicy Katsu"></div>
                        </div>
                    </div>
                </div>
          
                <div class="headline-article">
                    <p class="title">Restoran Dengan Menu yang terbaik edisi September</p>
                    <p class="description">Hi Restplorer ! List restoran dengan menu-menu terbaik di bulan September udh keluar nih, mau tau gak restoran dengan menu-menu terbaik di bulan September
                        ini ? Yuk simak selengkapnya: Di urutan Pertama ada Bring Your phone Cafe dengan menu almond nya yang khas ! Di urutan kedua ada...
                    </p>
                        <a class="button" href="#">Read More</a>
                </div>
            </article>
                <div class="restaurant" id="maincontent">
                    <p class="title">Restoran Populer</p>
                    <div class="restaurant-list">

                    </div>
                </div>
            </article>
        </section>
    </main>
    <footer>
        <p class="footer">Copyright © 2020 - Restplore</p>
    </footer>
</body>

</html>