<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="Description" content="Explorasi macam-macam restoran yang dapat kamu temukan di seluruh Indonesia!">
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
    <link rel="icon" href="favicon.ico">
    <title>Restplore - Explore Restaurant Around you</title>
</head>

<body>
    <a href="#maincontent" class="skip-link">Menuju ke konten</a>
  <navigation-bar></navigation-bar>
    <main>
        
    </main>
    <footer-bar></footer-bar>
</body>

</html>