/* Tablet */
@media only screen and (min-width: 768px) {
  .title {
    font-size: 2rem;
    font-weight: bold;
  }
  .headline{
      flex-direction: row;
  }
  .restaurant-list{
      flex-direction: row;
  }
  .item{
       width: calc(50% - 12px);
    }
    #hamburger{
      display: none;
    }
    .nav{
      display: flex;
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0);
      width: 100%;
      background-color: black;
      height:auto ;
      position: unset;
    }
    ul{
      margin-left: auto;
      margin-right: 25px;
    }
    .nav-item {
      display: inline;
      margin-right: 25px;
    }
    .brand{
      display: block;
    }
  }
/* Desktop */
  @media only screen and (min-width: 1140px) {
    .headline{
        flex-direction: row;
    }
    .item{
        width: calc(33% - 12px);
        max-width: 100%;
    }
    }